.content {
  //   background-color: antiquewhite;
  padding: 50px;
  h1 {
    hr {
      border: 1px solid rgb(77, 77, 255);
    }
  }

  .productS {
    // width: 70%;
    width: 900px;
    // background-color: #ee82ee;
    min-height: 50px;
    margin: 0 auto;
    .product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      .prod-image {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        // background-color: antiquewhite;
        // background-color: #ee82ee;
        background-image: url(../images/thumb1_300x300.jpg);
        margin: 0 auto;
      }
      .prod-desc {
        width: 500px;
      }
    }
  }
}
