footer {
    height: 50px;
    background-color: rgb(77, 77, 255);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    width: 100%;
}